/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 2em 0 .6em 0;
    line-height: 125%;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.clear {
    clear: both;
}

body {
    background-color: #fff;
    font: 16px helvetica, arial, clean, sans-serif;
    text-align: center;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 166%;
}

h3 {
    font-size: 130%;
}

p {
    margin: 1.25em 0;
}

a, a:visited {
    color: #047617;
    text-decoration: none;
}

a:hover {
    color: #666;
    border-bottom: 1px solid #ddd;
}

.table-wrap {
    text-align: center;
}
.table {
    margin: 0 auto;
    width: 90%;
    background: #eee;
    padding: 0.6em 0;
    -moz-box-shadow: 1px 1px 5px #aaa;
    -webkit-box-shadow: 1px 1px 5px #aaa;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

table {
    font-size: inherit;
    font: 100%;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
}

table th, .center {
    text-align: center;
}

table tr:hover {
    background: #f6f6f6;
}

.caption {
    font-size: 80%;
    line-height: 1em;
    font-style: italic;
}

ul, ol {
    margin: .6em 0 .6em 2em;
}

ul li, ol li {
    margin: 0.6em 0;
}

hr {
    background-color: #ccc;
    border: 0 none;
    clear: both;
    color: #ccc;
    height: 1px;
    margin: 2em auto;
    width: 40%;
}

#header {
    border-bottom: 3px solid #eee;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}

/* Promo box, temporary */
#promo {
    background: #fcc557;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}
#promo.notop {
    background: rgba(252, 197, 87, 0.75);
}
#promo a {
    color: #444;
    line-height: 1em;
    margin: .3em 0;
}
#promo a:hover {
    border-bottom: none;
    color: #444;
    text-decoration: underline;
}
/* End promo box */

h1.title {
    margin: .2em 0;
    font-size: 220%;
    line-height: 100%;
}

.site h1 a, .site h2 a {
    text-decoration: one;
    border: none;
    font-variant: small-caps;
}

h2.subtitle {
    margin: .2em 0 .2em;
    line-height: 100%;
    font-size: 100%;
    font-weight: normal;
    font-variant: small-caps;
}

h2.subtitle a span, h2.subtitle a.the-list {
    display: none;
}

h2.subtitle:hover a.the-list, h2.subtitle:hover span {
    display: inline;
}

h2.subtitle a {
    border-bottom: none;
    color: #999;
}

.site {
    font-size: 100%;
    width: 45em;
    margin: 2em auto;
    line-height: 1.8em;
    text-align: left;
}

#footer {
    font-size: 80%;
    line-height: 1.5em;
    color: #666;
    border-top: 3px solid #ddd;
    margin-top: 2em;
    padding: 1em 0;
    overflow: hidden;
}

#footer .quote {
    clear: both;
    margin-top: 2em;
    text-align: center;
}

#footer .contact {
    text-align: center;
    margin: 1em 0;
    color: #047617;
}

#footer .contact a {
    margin: 0 .6em;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/* posts */
.post {
    width: 45%;
    height: 16em;
    float: left;
    margin: 0; padding: 0;
}
.post.first {
    margin-right: 2em;
    clear: left;
}
.post.last {
    margin-left: 2em;
}

.post-meta span {
    color: #999;
}

.post p a.more {
    float: right;
    margin-right: .5em;
}

.post h2 {
    margin: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

span.done {
    text-decoration: line-through;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post h1, #tag h1 {
    font-variant: small-caps;
    margin: 0;
}

#post .meta {
    font-size: 85%;
    margin: -.1em 0 2.5em;
    color: #999;
}

#related {
    margin-top: 3em;
}

#related h3 {
    margin-bottom: 1em;
}

.img-wrap {
    text-align: center;
}
.img {
    background: #eee;
    display: inline-block;
    padding: 0.6em;
    margin: 0 auto;
    -moz-box-shadow: 1px 1px 5px #aaa;
    -webkit-box-shadow: 1px 1px 5px #aaa;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

.img div {
    font-size: 80%;
    line-height: 1em;
    font-style: italic;
}

/* Paginators */
ol.pagination {
    list-style: none;
    margin: 1em auto;
    text-align: center;
}

ol.pagination > li {
    list-style: none;
    display: inline;
    padding: 0 0.5em;
}

ol.pagination > li.selected a {
    color: #000;
}


/*****************************************************************************/
/*
/* Syntax highlighting
/*
/*****************************************************************************/
#post pre {
    line-height: 150%;
    font-family: "Courier New", courier, monospace;
    font-size: 90%;
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    overflow: auto;
}
code {
    border: 1px solid #ddd;
    font-family: "Courier New", courier, monospace;
    background-color: #eef;
    font-size: 90%;
    padding: 0 .2em;
    overflow: auto;
}

pre code {
    font-size: 100%;
    border: none;
    padding: 0;
}

/* terminal */

pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

pre.terminal code {
    background-color: #333;
}
